%h2 認証用のメールが届かない方はこちらより再送信をして下さい。

= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :登録時に入力したメールアドレス
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
  .actions
    = f.submit "新規登録用のメールを再送信"


/= render "devise/shared/links"
