%h2 ユーザー新規登録

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource

  .field
    = f.label :本名（姓名）
    %br/
    = f.text_field :name, class:"", id:"", placeholder:"例) 山田　花子", maxlength:"35",autofocus: true, autocomplete: "off"

  .field
    = f.label :フリガナ
    %br/
    = f.text_field :kana, class:"", id:"", placeholder:"例) ヤマダ　ハナコ", maxlength:"35", autocomplete: "off"

  .field
    = f.label :生年月日
    %br/
    = f.date_field :birth, class:"", id:"", value: "2000-01-01"

  .field
    = f.label :性別
    %br/
    = f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"", id:""})

  .field
    = f.label :テーマカラー
    %br/
    = f.collection_select(:color_id, Color.all, :id, :name, {}, {class:"", id:""})
    /= f.collection_select(:カラム名, クラス.all, :保存される値, :表示される値, {include_blank: true}, {class:"genre-select"})

  .field
    = f.label :ニックネーム
    %br/
    = f.text_field :nick_name, class:"", id:"", placeholder:"サイト内に表示されます", maxlength:"35", autocomplete: "off"

  .field
    = f.label :メールアドレス
    %br/
    = f.email_field :email, class:"", id:"", autofocus: true, autocomplete: "email"
  
  .field
    = f.label :パスワード
    %br/
    = f.password_field :password, class:"", id:"", placeholder:"8文字以上", autocomplete: "new-password"
  
  .field
    = f.label :同じパスワードを再度入力
    %br/
    = f.password_field :password_confirmation, class:"", id:"", placeholder:"確認の為に再入力", autocomplete: "new-password"
  .actions
    = f.submit "会員登録", class:""

/= render "devise/shared/links"
