.content_post
  = form_with(model: @tweet, local: true) do |form|

        
    .post_mes
      %h3 ここはedit.html.haml
      %p.notice= flash[:not_input]#コントローラーからのメッセージ
      = form.text_area :text, placeholder: "コメントを書いてください", rows: "10", class: "mes_inner"
      
    .post_img
      = form.file_field :image
      %p 画像の変更が無い場合はそのまま更新
      
    .post_btn
      = form.submit "更新"


  .content_img
    %p 現在の画像
    = image_tag @tweet.image.variant(resize:'640x480') if @tweet.image.attached?

    