.content_view

  .content_inner
    .content_card_show
      .inner_menu

        .inner_name
          %p= "#{@tweet.user.nick_name}さん"
          
        .inner_btns
          - if user_signed_in? && current_user.id == @tweet.user_id
            = link_to '編集', edit_tweet_path(@tweet.id),method: :get, class: 'inner_btn'          
            = link_to '削除', tweet_path(@tweet.id),method: :delete, class: 'inner_btn'

      .content_text_show
        %p= simple_format(@tweet.text)
        / simple_format で改行などをそのまま表示

    .content_img_pc
      = image_tag @tweet.image.variant(resize:'640x480') if @tweet.image.attached?
    .content_img_mobile
      = image_tag @tweet.image.variant(resize:'384x288') if @tweet.image.attached?

    %p= "最終更新日：#{@tweet.updated_at}"

    /通常のコメント機能
    .content_msg

      - if current_user
        = form_with(model: [@tweet, @comment], local: true) do |f|
          =f.text_area :msg, placeholder: "コメントをどうぞ", rows: "2"
          =f.submit "コメントを書く（削除出来ません。）"
      - else
        %p ログインをするとコメントを残せるよ！
      
      .msg_all
        - if @comments
          - @comments.each do |cmt|
            %p= "#{cmt.user.nick_name}：#{cmt.msg}"
    
    /action cable
    .content_msg2

      - if current_user
        %p こっちは action cable機能
        = form_with(model: [@tweet, @comment], local: true) do |x|        
          =x.text_field :msg, autocomplete: "off"
          =x.submit "即書く（こっちも削除出来ません。）"
      - else
        %p ログインをするとコメントを残せるよ！
      
      .msg_all#messages
        - if @comments
          - @comments.reverse_each do |cmt|
            %p= "#{cmt.user.nick_name}：#{cmt.msg}"

