.content_view

  .content_inner
    .content_card_show
      .inner_menu

        .inner_name
          %p= "#{@tweet.user.nick_name}さん"
          
        .inner_btns
          - if user_signed_in? && current_user.id == @tweet.user_id
            = link_to '編集', edit_tweet_path(@tweet.id),method: :get, class: 'inner_btn'          
            = link_to '削除', tweet_path(@tweet.id),method: :delete, class: 'inner_btn'

      .content_text_show
        %p= simple_format(@tweet.text)
        / simple_format で改行などをそのまま表示

    .content_img
      = image_tag @tweet.image.variant(resize:'640x480') if @tweet.image.attached?


