!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    /responsive
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0", name: "viewport"}
    /web font
    %link{:href => "https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap", :rel => "stylesheet"}/

    %title MixApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  
  %body
  

  %header
    .notice
      %p ここはヘッダーです。

    .header_menu
      = link_to "投稿する", new_tweet_path  
  
  
  .main_content
    .left_main_menu
      %p ここはメインメニュー。(app...html.hamlの左側)

    .rigth_content
      = yield

  
  %footer
    .notice
      %p ここはフッターです。


