!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    /responsive
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0", name: "viewport"}
    /web font
    %link{:href => "https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap", :rel => "stylesheet"}/

    %title MixApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  
  %body
  

  %header
    .main_logo
      %a.main_logo{:href => "/"} Mix_app

    .notice
      = notice#コントローラーからのメッセージ
    .alert
      = alert#deviseのメッセージ有

    .search_bar
      = form_with(url: kensaku_tweets_path, local: true, method: :get, class: "search_form")do |x|

        = x.text_field :key_wd, placeholder:"検索する", autocomplete: "off", class: "search_input"
        = x.submit "探す", class: "search_btn"


    .header_menu
      /user機能追加前の記述
      /= link_to "投稿する", new_tweet_path, class: "menu_btn"
      -if user_signed_in?
        = link_to "投稿する", new_tweet_path, class: "menu_btn"
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "menu_btn"
        = link_to "こんにちは。#{current_user.nick_name}さん！", edit_user_registration_path, class: "menu_btn"
      -else
        = link_to "ログイン", new_user_session_path, class: "menu_btn"
        = link_to "新規登録", new_user_registration_path, class: "menu_btn"      
  

  .main_content
    .left_main_menu
      %p ここはメインメニュー。(app...html.hamlの左側)

    .rigth_content
      = yield

  
  %footer
    .notice
      %p ここはフッターです。


